**/__pyacache__
venv
*.pyc
**/*.log
**/*.egg-info

bot/build
bot/results/*
bot/data/checkpoints/*
bot/data/helpers
!bot/data/checkpoints/.gitkeep
!bot/results/.gitkeep
!bot/data/checkpoints/stateful_rnn_model-val-loss-epoch=59-with-val_loss=-158.274.ckpt

.vscode

exp_scripts/lightning_logs
exp_scripts/best_checkpoints
extra_data/*